.about{
  text-align: center;
}
.about .section-header{
  justify-content: center;
}
.about .content{
  max-width: 800px;
  margin: 2rem auto;
  font-size: 1.6rem;
  line-height: 1.8;
}
.about .advantages{
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  margin: 60px 0;
}
.about .advantages .title{
  font-size: 2rem;
}
.about .advantages .cart{
  display: grid;
  grid-template-columns: 20rem;
  min-height: 300px;
  padding: 16px;
  border: var(--border);
  border-radius: 8px;
  box-shadow: 2px 2px 10px #000;
}
.about .advantages .cart .icon{
  font-size: 5rem;
  margin-bottom: 20px;
  color: var(--mainColor);
}
.about .advantages .advantage-title{
  font-size: 1.6rem;
  line-height: 2;
}
.about .advantages .desc{
  font-size: 1.4rem;
}
.about .section-header .button{
  margin: 2rem auto;
}