.home{
  background: var(--background-color) url('../images/Firmware-cuate.svg') center 20% no-repeat;
  height: 45rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--text-color);
}
.home .desc-container .desc{
  font-size: 1.4rem;
  font-weight: 500;
}
.home .head{
  display: flex;
  justify-content: space-between;
  padding:  0.625rem;
  margin-bottom: 1.25rem;
}
.home .head .title{
  color: var(--primary-color);
}
.home .head .button{
  width: 7.5rem;
  height: 3.125rem;
  text-align: center;
  align-content: center;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}